{% extends 'rss/base.jinja' %}
{% block title %}{{mapper}}'s map feed!{% endblock %}
{% block link %}https://mapworld.annoyingrains.xyz/mappers/{{mapper}}{% endblock %}
{% block description %}{{mapper}}'s maps on CrankItUp's MapWorld!{% endblock %}