{% extends 'rss/base.jinja' %}
{% block title %}All of CrankItUp's MapWorld!{% endblock %}
{% block link %}https://mapworld.annoyingrains.xyz/{% endblock %}
{% block description %}Every map, from every mapper, on CrankItUp's MapWorld!{% endblock %}