{% macro notepad(title, navigation=false, page=0, allownext=false, showpin=true, smalltitle=false, wide=false) %}
<div class="center">
    <div class="notepad" {% if wide %} style="width: 45vw; transform: rotate(0deg); text-align: left;" {% endif%}>
        {% if showpin %}
        <div class="notepad-top"><img class="tack" src="/static/assets/thumbtack.png"></div>
        {% endif %}
        <title>{{ title }}</title>
        {% if smalltitle %}
        <br>
        <h3 style="text-align: center">{{title}}</h3>
        {% else %}
        <h1 style="text-align: center">{{ title }}</h1>
        {% endif %}
        {% if navigation %}
        {% if page - 1 > 0 %} <a href="?page={{page - 1}}">Previous Page</a>{% endif %}{% if page - 1 > 0 and
        allownext%} |
        {% endif %}{% if allownext %}<a href="?page={{page + 1}}">Next Page</a> {% endif %}
        {% endif %}
        {% if caller is defined %}
        {{ caller() }}
        {% endif %}
    </div>
</div>
{% endmacro %}